<h1>Web1#hello</h1>
<p>Find me in app/views/web1/hello.html.erb</p>

<hr />
<div id="test">
	<form action="world" method="get" accept-charset="utf-8">
		<p>
			<label for="first_name">first name</label>
			<input type="text" name="first_name" value="" id="first_name">
		</p>
		<p>
			<label for="last_name">last name</label>
			<input type="text" name="last_name" value="" id="last_name">
		</p>
	
		<p><input id="submit" type="submit" value="Ok"></p>
	</form>
</div>
