<h1>Web1#world</h1>
<p>Find me in app/views/web1/world.html.erb</p>

<hr />
<div id="test">
	<p>
		First name: <%= params[:first_name]%>
	</p>
	<p>
		Last name: <%= params[:last_name]%>
	</p>
	<a href="hello">Back</a>
</div>
